<footer>
  <div class="footer-logos">
    <p class="blue-neon-text">Realização:</p>
    <a href="https://www2.ufjf.br/deptocomputacao/" target="_blank" rel="noopener noreferrer">
      <img src="./assets/img/logos/logo-dcc.webp" alt="Departamento de Ciência da Computação"
        class="shadow-text footer-logo">
    </a>
    <a href="https://codejr.com.br" target="_blank" rel="noopener noreferrer">
      <img src="./assets/img/logos/logo-code.webp" alt="Code Empresa Júnior de Computação"
        class="footer-logo shadow-text footer-code">
    </a>
    <a href="https://www2.ufjf.br/ufjf/" target="_blank" rel="noopener noreferrer">
      <img src="./assets/img/logos/logo-ufjf.webp" alt="UFJF" class="shadow-text footer-logo footer-ufjf">
    </a>
  </div>

  <div class="social-media-links">
    © 2023 - Semana da Computação UFJF
  </div>
</footer>