<footer>
  <div class="footer-logos">
    <h3 class="shadow-text">Realização:</h3>
    <img src="./assets/img/logos/logo-dcc.png" alt="Departamento de Ciência da Computação" class="shadow-text footer-logo">
    <img src="./assets/img/logos/logo-code.png" alt="Code Empresa Júnior de Computação"
      class="footer-logo shadow-text footer-code">
    <img src="./assets/img/logos/logo-ufjf.png" alt="UFJF" class="shadow-text footer-logo footer-ufjf">
  </div>

  <div class="social-media-links">
    © 2023 - Semana da Computação UFJF
  </div>
</footer>