footer {
  align-items: center;
  background-color: var(--blue-accent);
  bottom: 0;
  color: white;
  display: flex;
  justify-content: space-between;
}

footer div {
  display: flex;
  justify-content: flex-start;
  padding: 0.8em;
  align-items: center;
  text-decoration: none;
}

.footer-logos {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.footer-logos h3 {
  color: var(--light-blue);
  font-size: medium;
  margin: 0;
}

.footer-logo {
  padding-left: 1em;
  width: 3em;
}

.footer-code {
  width: 5em;
}

.footer-ufjf {
  width: 4em;
}

@media screen and (max-width: 700px) {
  .footer-logos h3 {
    font-size: smaller;
  }

  .footer-logo {
    padding-left: 0.2em;
    width: 2em;
  }

  footer .social-media-links {
    padding: 0;
    margin: 0;
  }

  footer .social-media-links a {
    padding: 0;
    margin: 0;
  }

  footer .social-icon {
    font-size: 1.5em;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  footer {
    flex-direction: column-reverse;
    padding: 0.5em 0;
  }

  .footer-logos h3 {
    margin: 0 0.4em;
  }

  footer .social-media-links {
    margin: 0 0.4em;
    text-align: center;
  }
}
