<section class="banner-container">

  <div class="banner">

    <div class="inside-banner">
      <div class="banner-text shadow-text">

        <div class="banner-text-only">
          <h2 class="text-inside purple-neon-text">{{ getEventDateString() }}</h2>
          <app-logo [eventEdition]="eventEdition" [wordBreak]="true" [fontSize]="logoFontSize" [hasShadow]="true"></app-logo>
          <h2 class="text-inside blue-neon-text">Instituto de Ciências Exatas - UFJF</h2>
        </div>
        <div class="cta-btn-container">
          <div class="c-btn shadow-text">
            <a href="https://oauth.integra.nrc.ice.ufjf.br/login" target="_blank">
              Se inscreva!
            </a>
          </div>
        </div>

      </div>


    </div>
  </div>

</section>