/* Cria variáveis para padronizar as cores */
:root {
  --pearl-white: #f1f1f1;
  --light-gray: #bcbec0;
  --medium-gray: #888482;
  --dark-gray: #494746;
  --red: #e01118;
  --dark-red: #b01917;
}

/* Remove margens e paddings, adiciona fonte padrão e remove barra de rolagem no desktop */
html,
body {
  font-family: "Open Sans", sans-serif;
  margin: 0 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/* Remove barra de rolagem */
::-webkit-scrollbar {
  display: none;
}

.container-active {
  display: block !important;
}

.container {
  display: none;
}

/* Cria classe padrão para sombra */
.shadow {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.shadow-text {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* INÍCIO DE CLASSES DO NAVBAR */
.navbar {
  align-items: center;
  background-color: var(--pearl-white);
  display: flex;
  justify-content: space-between;
}

.navbar-logo a {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.nav-logo {
  width: 5em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar-navigation-links ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navbar-navigation-links a {
  color: var(--dark-gray);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 1em;
  text-decoration: none;
}

.navbar-navigation-links a:hover {
  color: var(--red);
}

.nav-icon {
  color: var(--dark-gray);
  cursor: pointer;
  display: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 1.5em;
}

.nav-icon:hover {
  color: var(--red);
}

.speakers-link {
  cursor: pointer;
}

.social-media-links {
  align-items: center;
  display: flex;
  padding-right: 1em;
}

.social-media-links a {
  text-decoration: none;
}

.social-icon {
  color: var(--dark-gray);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 26px;
  width: 26px;
}

.social-ufjf {
  margin-left: 1em;
  height: 4em;
  width: 4em;
}

.color-red {
  color: var(--red);
}

/* FIM DE CLASSES DO NAVBAR */

.section-title {
  color: var(--dark-gray);
  font-size: 2em;
  font-weight: bold;
  margin: 1.25em;
}

/* INÍCIO DO BANNER (NO CONTAINER) */
.banner-container {
  display: flex;
  justify-content: center;
}

.banner {
  background-image: url("https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40em;
  width: 100%;
}

.inside-banner {
  background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 0.4) 40%,
    rgba(176, 25, 23, 0) 100%
  );
  background-blend-mode: hard-light, normal;
  height: 100%;
  margin: 0;
  padding: 0;
}

.banner-text {
  padding: 6em 5em 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.text-inside {
  color: var(--dark-gray);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 0 5em 0 0;
  -webkit-text-stroke-width: 0.03em;
  -webkit-text-stroke-color: var(--light-gray);
}

.banner-text-only {
  margin-bottom: 1em;
}

.cta-btn {
  background-color: var(--dark-red);
  border-radius: 6px;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: bold;
  margin: 2em;
  padding: 1em 2em;
  width: 25%;
  text-align: center;
}

.cta-btn a {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  text-decoration: none;
}

/* FIM DO BANNER (NO CONTAINER) */

/* INÍCIO DO TIMER */

.timer-container {
  align-items: center;
  background-color: var(--red);
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.timer-h1 {
  font-size: 2em;
  line-height: 70%;
  text-align: center;
}

.timer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
}

.time-container {
  padding: 0 2em;
  text-align: center;
}

.time-container h2 {
  font-weight: normal;
}

/* FIM DO TIMER */

/* INÍCIO DA DESCRIÇÃO */

.event-description-container {
  background-color: var(--pearl-white);
  display: flex;
  justify-content: space-evenly;
  padding: 2em 3em;
}

.event-description {
  color: var(--dark-gray);
  font-weight: 500;
  text-align: justify;
}

/* FIM DA DESCRIÇÃO */

/* INÍCIO DO SEGUNDO CTA */
.enroll-cta {
  font-size: small;
  text-align: center;
}

.enroll-cta h1 {
  color: var(--dark-gray);
  font-size: 3em;
}

.enroll-cta a {
  background-color: var(--dark-red);
  border-radius: 6px;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 2em;
  font-weight: bold;
  margin: 1em;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  width: 25%;
}

.enroll-cta p {
  margin: 1.5em 0;
}

#show-video {
  color: var(--dark-red);
  cursor: pointer;
  text-decoration: underline;
}

.enroll-tutorial-video {
  display: none;
  margin: 1em 0;
}

/* FIM DO SEGUNDO CTA */

/* INÍCIO DA PROGRAMAÇÃO */

.schedule-title {
  color: var(--dark-gray);
  font-size: 2em;
  font-weight: bold;
  margin: 1.25em;
}

.schedule-later {
  color: var(--dark-gray);
  font-weight: 600;
  text-align: center;
}

/* FIM DA PROGRAMAÇÃO */

/* INÍCIO DA LISTA DE PATROCINADORES */
.sps-title {
  color: var(--dark-gray);
  font-size: 2em;
  font-weight: bold;
  margin: 1.25em;
}

.sps-tier {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 3em 0em;
}

.sps-container {
  background-color: var(--light-gray);
  border-radius: 6px;
  padding: 1em 1em 0.4em;
}

.sps-top-container img {
  width: 17em;
}

.sps-mid-container img {
  width: 11em;
}

.sps-low-container img {
  width: 6em;
}

.sps-container:hover {
  background-color: var(--red);
  background: rgba(224, 17, 24, 0.6);
}

/* FIM DA LISTA DE PATROCINADORES */

/* INÍCIO REDES SOCIAIS */

.social-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.social-ic {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 0.5em;
  width: 1.6em;
}

.social-ufjf-ic {
  height: 2.5em;
  width: 2.5em;
}

.social-links-container a {
  align-items: center;
  color: var(--dark-gray);
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-decoration: none;
}

.social-links-container a:hover {
  color: var(--red);
}

.map-iframe {
  border-radius: 6px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 30em;
  width: 40em;
}

/* FIM REDES SOCIAIS */

/* INICIO REALIZADORES */

.rlz-img {
  border-radius: 50%;
  /* width: 10%; */
}

.rlz-title {
  color: var(--dark-gray);
  font-size: 2em;
  font-weight: bold;
  margin: 1.25em;
}

.rlz-tier {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 3em 0em;
}

.rlz-container {
  background-color: var(--light-gray);
  border-radius: 6px;
  padding: 1em 1em 0.4em;
}

.rlz-mid-container img {
  width: 11em;
}

.rlz-a {
  text-decoration: none;
  margin: auto;
  padding: 1%;
}

.rlz-name {
  color: #494746;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rlz-group {
  text-decoration: none;
  color: #494746;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* FIM REALIZADORES */

/* INÍCIO DO FOOTER */

footer {
  align-items: center;
  background-color: var(--pearl-white);
  display: flex;
  justify-content: space-between;
}

footer div {
  display: flex;
  justify-content: flex-start;
  padding: 0.8em;
  align-items: center;
  text-decoration: none;
}

.footer-logos {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.footer-logos h3 {
  color: var(--dark-gray);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: medium;
}

.footer-logo {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-left: 1em;
  width: 3em;
}

.footer-ufjf {
  width: 4em;
}

/* FIM DO FOOTER */

.column-button {
  float: left;
  justify-content: center;
  width: 20%;
}

.column-img {
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.column-date {
  margin-top: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--dark-red);
  color: white;
}

.column-details {
  margin-left: 2%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
}

.column-details-title {
  padding-left: 2%;
  padding-right: 2%;
  float: left;
  display: flex;
  justify-content: center;
  color: var(--red);
}

.button-programacao {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--dark-red);
}

.button-programacao-unable {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--medium-gray);
}

.button-programacao:hover,
.button-programacao-unable:hover {
  background-color: var(--red);
}

.margin-prog {
  margin-left: 5%;
  margin-right: 5%;
}

.speakers-container {
  margin-top: 2em;
}

.speaker-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.6em 0.8em;
}

.speaker-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 1em;
}

.speaker-pic {
  display: flex;
}

.speaker-img {
  border-radius: 50%;
  height: 10em;
  margin: 0 1em;
  width: 10em;
}

.speaker-info h1 {
  color: #000;
}

.speaker-info h4 {
  color: var(--dark-red);
}

.speaker-info {
  color: var(--dark-gray);
}

.speaker-link {
  font-weight: bold;
  list-style-type: none;
}

.speaker-link a {
  color: var(--dark-red);
}

.speaker-link a:hover {
  color: var(--dark-gray);
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*
  * MEDIA QUERY (lidar com responsividade e diferentes tamanhos de tela)
*/

/* Tamanho de alguns tablets (a partide de 800px já não entra (tamanho de PC)) */
@media screen and (max-width: 800px) {
  /* Esconde o nome ("Semana da Computação") da Navbar */
  .nav-name {
    display: none;
  }

  /* Esconde o menu da navbar */
  .navbar-navigation-links li {
    display: none;
  }

  /* Mostra o ícone de menu da navbar */
  li.nav-icon {
    display: inline-block;
  }

  /* Define como vai aparecer a lista */
  .nav-menu ul {
    display: block;
    list-style-type: none;
    text-align: center;
  }

  .nav-menu li {
    display: block;
    padding-bottom: 0.3em;
  }

  .sps-container {
    padding: 0.4em 0.4em 0.2em;
  }

  .sps-top-container img {
    width: 11em;
  }

  .sps-mid-container img {
    width: 6em;
  }

  .sps-low-container img {
    width: 4em;
  }

  .timer-h1 {
    font-size: x-large;
  }

  .time-container h2 {
    font-size: medium;
  }

  .social-container {
    justify-content: space-around;
  }

  .social-ic {
    width: 1.3em;
  }

  .social-links-container a {
    font-size: 1.1em;
  }

  .map-iframe {
    border-radius: 6px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 20em;
    width: 100%;
  }
}

/* Tamanho de celulares e telas grandes */
@media screen and (max-width: 600px) {
  /* Corrige exibição do botão */
  .cta-btn-container {
    display: flex;
    justify-content: center;
  }

  /* Remove margens do botão */
  .cta-btn {
    margin: 0;
    width: 100%;
  }

  /* Aumenta opacidade do gradiente (Aumenta visibilidade para deixar texto mais visível) */
  .inside-banner {
    background: linear-gradient(
      50deg,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(176, 25, 23, 0) 100%
    );
    background-blend-mode: hard-light, normal;
  }

  .banner-text {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    padding: 11em 0em 0em;
    text-align: center;
  }

  /* Muda tamanho da imagem ("XXIV Semana da Computação") */
  .banner-text img {
    width: 70%;
  }

  .cta-btn {
    margin: 1.8em 1em;
  }

  /* Centraliza texto */
  .text-inside {
    margin: 0;
    padding: 0;
  }

  .sps-container {
    padding: 0.3em 0.3em 0.1em;
  }

  .sps-top-container img {
    width: 8em;
  }

  .sps-mid-container img {
    width: 4em;
  }

  .sps-low-container img {
    width: 3em;
  }

  .time-container {
    padding: 0 0.5em;
  }

  .timer-h1 {
    font-size: large;
  }

  .event-description-container {
    flex-direction: column;
    padding: 1em;
    text-align: center;
  }

  .social-container {
    flex-direction: column;
  }

  .social-links-container {
    padding: 0.5em;
  }
}

@media (max-width: 400px) {
  .rlz-lists {
    display: flex;
    flex-direction: column;
  }
}
/* Tamanho de celulares pequenos|comuns */
@media screen and (max-width: 400px) {
  /* Muda formatação do texto do banner */
  /* .banner-text-only {
    display: block;
    text-align: center;
  } */

  .social-media-links {
    padding: 0;
  }

  .social-ufjf-link {
    padding: 0;
    text-align: center;
  }

  .social-ufjf {
    margin: auto;
    height: 3em;
    padding: 0;
    width: 3em;
  }

  .section-title {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  .sps-tier {
    flex-direction: column;
  }

  .sps-container {
    padding: 0.4em 0.4em 0.2em;
  }

  .sps-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.4em;
  }

  .sps-top-container img {
    width: 90%;
  }

  .sps-mid-container img {
    width: 70%;
  }

  .sps-low-container img {
    width: 50%;
  }

  .time-container {
    padding: 0 0.2em;
  }

  .time-container h2 {
    font-size: small;
  }

  .timer-h1 {
    font-size: 2em;
  }

  .social-links-container {
    padding: 0;
  }

  .speaker-row {
    flex-direction: column;
    margin: 1em 0;
  }

  .speaker-info {
    text-align: center;
  }

  .speaker-links-ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  /* Corrige tamanhos, margens e paddings do footer: */
  .footer-logos h3 {
    font-size: smaller;
  }

  .footer-logo {
    padding-left: 0.2em;
    width: 2em;
  }

  footer .social-media-links {
    padding: 0;
    margin: 0;
  }

  footer .social-media-links a {
    padding: 0;
    margin: 0;
  }

  footer .social-icon {
    font-size: 1.5em;
    padding: 0;
  }
}

/* ANIMAÇÕES */

.animate-up {
  animation: 1s ease-in-out 0s 1 slideToTop;
}

.navbar-logo:hover {
  animation: 1s linear 0s 1 getBigger;
}

.social-media-links a:hover {
  animation: 1s linear 0s 1 getBigger;
}

.nav-links-ul li:hover {
  animation: 1s linear 0s 1 getBigger;
}

.banner-text {
  animation: 1s ease-in-out 0s 1 slideToTop;
}

.cta-btn:hover {
  animation: 1s linear 0s 1 getBigger;
}

.timer-h1:hover {
  animation: 1s linear 0s 1 getBigger;
}

.enroll-cta:hover {
  animation: 1s linear 0s 1 getBigger;
}

.sps-container:hover {
  animation: 1s linear 0s 1 getBigger;
}

.social-links-container a:hover {
  animation: 1s linear 0s 1 getBigger;
}

.rlz-mid-container:hover {
  animation: 1s linear 0s 1 getBigger;
}

@keyframes slideToTop {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes getBigger {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* TRANSITIONS */
