/* Cria variáveis para padronizar as cores */
:root {
  --pearl-white: #f1f1f1;
  --light-gray: #bcbec0;
  --medium-gray: #888482;
  --dark-gray: #494746;
  --red: #e01118;
  --dark-red: #b01917;
}

/* Remove margens e paddings, adiciona fonte padrão e remove barra de rolagem no desktop */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
  overflow-x: hidden;
}

/* Remove barra de rolagem */
::-webkit-scrollbar {
  display: none;
}

/* Cria classe padrão para sombra */
.shadow {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.shadow-text {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* INÍCIO DE CLASSES DO NAVBAR */
.navbar {
  align-items: center;
  background-color: var(--pearl-white);
  display: flex;
  justify-content: space-between;
}

.navbar-logo a {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.nav-logo {
  width: 5em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar-navigation-links ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navbar-navigation-links a {
  color: var(--dark-gray);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 1em;
  text-decoration: none;
}

.navbar-navigation-links a:hover {
  color: var(--red);
}

.nav-icon {
  color: var(--dark-gray);
  cursor: pointer;
  display: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 1.5em;
}

.nav-icon:hover {
  color: var(--red);
}

.social-media-links {
  padding-right: 1em;
}

.social-media-links a {
  text-decoration: none;
}

.social-icon {
  color: var(--dark-gray);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 26px;
  width: 26px;
}

.color-red {
  color: var(--red);
}

/* FIM DE CLASSES DO NAVBAR */


/* INÍCIO DO BANNER (NO CONTAINER) */
.banner-container {
  display: flex;
  justify-content: center;
}

.banner {
  background-image: url("https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40em;
  width: 100%;
}

.inside-banner {
  background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 0.4) 40%,
    rgba(176, 25, 23, 0) 100%
  );
  background-blend-mode: hard-light, normal;
  height: 100%;
  margin: 0;
  padding: 0;
}

.banner-text {
  padding: 6em 5em 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.text-inside {
  padding: 0 5em 0 0;
  color: var(--dark-gray);
}

.banner-text-only {
  margin-bottom: 1em;
}

.cta-btn {
  background-color: var(--dark-red);
  border-radius: 6px;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: bold;
  margin: 2em;
  padding: 1em 2em;
  width: 25%;
  text-align: center;
}

.cta-btn a {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  text-decoration: none;
}

/* FIM DO BANNER (NO CONTAINER) */

/* INÍCIO DO TIMER */

.timer-container {
  background-color: var(--red);
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 0.6em 0;
  margin: 0;
}

.timer-h1 {
  font-size: 2.5em;
  text-align: center;
}

.timer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.time-container {
  padding: 0 2em;
  text-align: center;
}

.time-container h2 {
  font-weight: normal;
}

/* FIM DO TIMER */

/* INÍCIO DO SEGUNDO CTA */
.enroll-cta {
  font-size: small;
  text-align: center;
}

.enroll-cta h1 {
  color: var(--dark-gray);
  font-size: 3em;
}

.enroll-cta a {
  background-color: var(--dark-red);
  border-radius: 6px;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 2em;
  font-weight: bold;
  margin: 1em;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  width: 25%;
}

.enroll-cta p {
  margin: 1.5em 0;
}

#show-video {
  color: var(--dark-red);
  cursor: pointer;
  text-decoration: underline;
}

.enroll-tutorial-video {
  display: none;
  margin: 1em 0;
}

/* FIM DO SEGUNDO CTA */

/* INÍCIO DA LISTA DE PATROCINADORES */
.sps-title {
  color: var(--dark-gray);
  font-size: 2em;
  font-weight: bold;
  margin: 1.25em;
}

.sps-tier {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 3em 0em;
}

.sps-container {
  background-color: var(--light-gray);
  border-radius: 6px;
  padding: 1em 1em 0.4em;
}

.sps-top-container img {
  width: 17em;
}

.sps-mid-container img {
  width: 11em;
}

.sps-low-container img {
  width: 6em;
}

.sps-container:hover {
  background-color: var(--red);
  background: rgba(224, 17, 24, 0.6)
}

/* FIM DA LISTA DE PATROCINADORES */

/* INÍCIO DO FOOTER */

footer {
  align-items: center;
  background-color: var(--pearl-white);
  display: flex;
  justify-content: space-between;
}

footer div {
  display: flex;
  justify-content: flex-start;
  padding: 0.8em;
  align-items: center;
  text-decoration: none;
}

.footer-logos h3 {
  color: var(--dark-gray);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  font-size: medium;
}

.footer-logo {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-left: 1em;
  width: 3em;
}

/* FIM DO FOOTER */

/*
  * MEDIA QUERY (lidar com responsividade e diferentes tamanhos de tela)
*/

/* Tamanho de alguns tablets (a partide de 800px já não entra (tamanho de PC)) */
@media screen and (max-width: 800px) {

  /* Esconde o nome ("Semana da Computação") da Navbar */
  .nav-name {
    display: none;
  }

  /* Esconde o menu da navbar */
  .navbar-navigation-links li {
    display: none;
  }

  /* Mostra o ícone de menu da navbar */
  li.nav-icon {
    display: inline-block;
  }

/* Define como vai aparecer a lista */
  .nav-menu ul {
    display: block;
    list-style-type: none;
    text-align: center;
  }

  .nav-menu li {
    display: block;
    padding-bottom: 0.3em;
  }

  .sps-container {
    padding: 0.4em 0.4em 0.2em;
  }

  .sps-top-container img {
    width: 11em;
  }

  .sps-mid-container img {
    width: 6em;
  }

  .sps-low-container img {
    width: 4em;
  }

  .timer-h1 {
    font-size: x-large;
  }

  .time-container h2 {
    font-size: medium;
  }
}

/* Tamanho de celulares e telas grandes */
@media screen and (max-width: 600px) {

  /* Corrige exibição do botão */
  .cta-btn-container {
    display: flex;
    justify-content: center;
  }

  /* Remove margens do botão */
  .cta-btn {
    margin: 0;
    width: 100%;
  }

  /* Aumenta opacidade do gradiente (Aumenta visibilidade para deixar texto mais visível) */
  .inside-banner {
    background: linear-gradient(
      50deg,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(176, 25, 23, 0) 100%
    );
    background-blend-mode: hard-light, normal;
  }

  .banner-text {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    padding: 11em 0em 0em;
    text-align: center;
  }

  /* Muda tamanho da imagem ("XXIV Semana da Computação") */
  .banner-text img {
    width: 70%;
  }

  .cta-btn {
    margin: 1.8em 1em;
  }

  /* Centraliza texto */
  .text-inside {
    margin: 0;
    padding: 0;
  }

  .sps-container {
    padding: 0.3em 0.3em 0.1em;
  }

  .sps-top-container img {
    width: 8em;
  }

  .sps-mid-container img {
    width: 4em;
  }

  .sps-low-container img {
    width: 3em;
  }

  .time-container {
    padding: 0 0.5em;
  }

  .timer-h1 {
    font-size: large;
  }
}

/* Tamanho de celulares pequenos|comuns */
@media screen and (max-width: 400px) {

  /* Muda formatação do texto do banner */
  /* .banner-text-only {
    display: block;
    text-align: center;
  } */

  .sps-tier {
    flex-direction: column;
  }
  
  .sps-container {
    padding: 0.4em 0.4em 0.2em;
  }

  .sps-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.4em;
  }

  .sps-top-container img {
    width: 90%;
  }

  .sps-mid-container img {
    width: 70%;
  }

  .sps-low-container img {
    width: 50%;

  .time-container {
    padding: 0 0.2em;
  }

  .time-container h2 {
    font-size: small;
  }

  .timer-h1 {
    font-size: medium;
  }

  /* Corrige tamanhos, margens e paddings do footer: */
  .footer-logos h3 {
    font-size: smaller;
  }

  .footer-logo {
    padding-left: 0.2em;
    width: 2em;
  }
  
  footer .social-media-links {
    padding: 0;
    margin: 0;
  }

  footer .social-media-links a {
    padding: 0;
    margin: 0;
  }

  footer .social-icon {
    font-size: 1.5em;
    padding: 0;
  }
}
