<section class="event-description-container">
  <p class="event-description">
    A Semana de Computação da UFJF é um projeto elaborado e implementado conjuntamente com a direção do Instituto de
    Ciências Exatas, as coordenações de curso, a chefia de departamento, o corpo docente e discentes dos cursos
    oferecidos pelo DCC, de forma participativa, democrática e transparente, acolhendo sugestões e críticas da
    comunidade acadêmica.
  </p>
  <p class="event-description">
    O evento é uma oportunidade para que os alunos participem de palestras,
    minicursos e da maratona de programação com temas relevantes na área de Ciência da Computação e áreas afins. Na
    última edição contamos com mais de 300 participantes e nossa expectativa é que neste ano esse número aumente
    ainda mais.
  </p>
</section>