<section class="event-description-container row">
  <div class="event-desc col">
    <p class="event-description">
      A Semana da Computação é um evento anual organizado pelo Departamento de Ciência da Computação da Universidade
      Federal de Juiz de Fora, em parceria com a Code Empresa Júnior.
    </p>
    <p class="event-description">
      Neste ano, na edição comemorativa de 25 anos do evento, a programação prevê palestras e minicursos sobre temas
      atuais e um espaço de interação entre empresas e a universidade.
    </p>
  </div>
  <div class="event-img col">
    <img src="./assets/img/pictures/semcomp-22.webp" alt="">
  </div>
</section>