<app-navbar class="navbar" [eventEdition]="eventEdition"></app-navbar>

<main>
  <app-banner [eventBeginDate]="eventBeginDate" [eventEndDate]="eventEndDate"
    [eventEdition]="eventEdition"></app-banner>

  <app-clock-cta [eventBeginDate]="eventBeginDate" [eventEndDate]="eventEndDate"></app-clock-cta>

  <app-event-description id="descricao"></app-event-description>

  <app-alert *ngIf="false"></app-alert>

  <app-register-cta id="inscricoes"></app-register-cta>
</main>

<app-footer class="footer"></app-footer>