<section>

  <h2>Programação</h2>

  <div *ngIf="showSchedule">

    <div>
      <ul class="nav justify-content-center nav-ul"
        [class]="{'nav-tabs': innerWidth > 450, 'nav-pills': innerWidth <= 450}">
        <li class="nav-item d-flex nav-tab-li-items">
          <a class="nav-link" [class]="{'active' : dayActive === dayIndex}" aria-current="page"
            *ngFor="let day of daysList; let dayIndex = index" (click)="changeDay(dayIndex)">{{ day }}</a>
        </li>
      </ul>
    </div>

    <div class="table-container table-responsive align-middle"
      *ngFor="let lectureList of lectureListByDays; let index = index">
      <table class="table table-dark table-striped-columns" *ngIf="index === dayActive">
        <thead>
          <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Horário</th>
            <th scope="col">Detalhes</th>
            <th scope="col">Localização</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lecture of lectureList; let index = index">
            <td align="center" valign="middle" class="lecture-type-indicator w-auto px-2"
              [class]="{'text-secondary-emphasis': getColor(lecture.type) == 'light'}">
              <div [class]="'bg-' + getColor(lecture.type)">
                <fa-icon size="lg" [icon]="getIcon(lecture.type)"></fa-icon>
              </div>
              <p>{{ getType(lecture.type) }}</p>
            </td>

            <td align="center" valign="middle" class="w-auto">
              <div class="badge" [class]="'text-bg-' + getColor(lecture.type)">
                {{ lecture.dateTime.getHours() }}:{{ lecture.dateTime.getMinutes() | number: '2.0-0' }} -
                {{ calculateEndTime(lecture).getHours() }}:{{ calculateEndTime(lecture).getMinutes() | number: '2.0-0'
                }}
              </div>
            </td>

            <!-- <th scope="row"> -->
            <th scope="row" align="center" valign="middle" class="lecture-info w-75">
              <h3 class="lecture-title">{{ lecture.title }}</h3>
              <p class="lecture-lecturer" *ngIf="lecture.speaker">{{ getSpeakerName(lecture.speaker) }}</p>

              <p [innerHTML]="replaceMarkdownUrlWithAnchorTag(lecture.description)"></p>
            </th>
            <!-- </th> -->

            <td align="center" valign="middle" class="lecture-location w-25">
              <!-- <span *ngIf="lecture.location.includes('https')">
                <a [href]="lecture.location" target="_blank" rel="noopener noreferrer">YouTube</a>
              </span> -->
              <span [innerHTML]="replaceURLsWithAnchorTags(lecture.location)">
                <!-- *ngIf="!lecture.location.includes('https')" -->
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <app-alert [title]="'Atenção'" [message]="'Podem haver mudanças na programação'"></app-alert>

  </div>

  <div class="no-info" *ngIf="!showSchedule">
    <p>Em breve mais informações...</p>
  </div>

</section>