<section>
  <h2 class="shadow-text">CONTATO</h2>

  <div class="row">

    <div class="col social-media-container">

      <a class="shadow-text" href="mailto:semana-da-computacao@ice.ufjf.br" target="_blank">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        semana-da-computacao@ice.ufjf.br
      </a>

      <a class="phone-link shadow-text" href="tel:+553221023327">
        <fa-icon [icon]="faPhone"></fa-icon>
        (32) 2102-3327
      </a>

      <a class="shadow-text" href="https://www.instagram.com/semanadacomputacaoufjf/" target="_blank">
        <fa-icon [icon]="faInstagram"></fa-icon>
        semanadacomputacaoufjf
      </a>

      <a class="shadow-text" href="https://www.facebook.com/semanadacomputacaoufjf" target="_blank">
        <fa-icon class="social-media-icon" [icon]="faFacebookF"></fa-icon>
        semanadacomputacaoufjf
      </a>

      <a class="shadow-text" href="https://www.linkedin.com/company/semana-da-computacao-ufjf/" target="_blank">
        <fa-icon [icon]="faLinkedin"></fa-icon>
        Semana da Computação UFJF
      </a>

      <a class="ufjf-link shadow-text" href="https://www.ufjf.br" target="_blank">
        <img class="social-ufjf-ic" src="../../assets/img/logos/logo-ufjf.png" alt="Logo UFJF">
        Site da UFJF
      </a>

    </div>

    <div class="col map-container">
      <iframe class="shadow-text"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3705.12730504182!2d-43.37169508220507!3d-21.775333453027663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x989ba1c18d2a97%3A0xacf1ee467831259e!2sICE%20-%20UFJF!5e0!3m2!1spt-BR!2sbr!4v1695230551992!5m2!1spt-BR!2sbr"
        [width]="mapWidth" [height]="mapHeight" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>


</section>