a:hover {
  box-shadow: none;
}

.organizer-container {
  align-items: center;
  border-radius: 6px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 1em 0.4em;
}

.organizer-link {
  text-decoration: none;
}

.organizer-image {
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  object-fit: cover;
  margin-bottom: 1em;
  width: 11em;
}

.organizer-name {
  color: white;
  text-decoration: none;
}

.organizer-role {
  color: white;
  max-width: 140px;
  text-align: center;
  text-decoration: none;
}

/* Animação de hover específica para esse caso */
.organizer-link :hover > .organizer-name {
  background-position: -50% 100%;
  color: var(--dark-blue);
  cursor: pointer;
}

.organizer-name {
  --initialTextColor: white;
  --slideTextColor: var(--dark-blue);

  --initialBgColor: #00000000;
  --slideBgColor: var(--light-blue);

  background-image: linear-gradient(
    90deg,
    var(--initialBgColor) 0%,
    var(--initialBgColor) 50%,
    var(--slideBgColor) 50%,
    var(--slideBgColor) 100%
  );

  background-size: 400%;

  color: var(--initialTextColor);

  padding: 0.2em;

  transition: background-position 0.3s cubic-bezier(0.47, 0.1, 1, 0.63),
    color 0.3s linear;
}
