<section class="enroll-cta">

  <h1 class="shadow-text">Se interessou?</h1>
  <a class="c-btn shadow-text" href="https://oauth.integra.nrc.ice.ufjf.br/login" target="_blank">Se
    inscreva!</a>
  <p>
    <span id="show-video" class="blue-neon-text" (click)="toggleShowVideo()">Saiba como</span>
  </p>

  <div class="video-container" *ngIf="showVideo">
    <div class="enroll-tutorial-video">
      <iframe class="tutorial-video" src="https://www.youtube.com/embed/70I67c9bM4c"
        section-title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        loading="lazy"></iframe>
    </div>
  </div>

</section>