<section class="timer-container">
  <h1 class="alternative-title" *ngIf="!showTimer() && !isPastEventDate() && !isInEventWeek()">Mais informações em
    breve!</h1>
  <h1 class="alternative-title" *ngIf="!showTimer() && isPastEventDate() && !isInEventWeek()">O evento já acabou!</h1>
  <h1 class="alternative-title" *ngIf="!showTimer() && !isPastEventDate() && isInEventWeek()">O evento já começou!</h1>
  <div *ngIf="showTimer()">
    <div>
      <h1 class="timer-title begins-in purple-neon-text">COMEÇA <br *ngIf="innerWidth < 600"> EM</h1>
    </div>
    <div class="timer">
      <div class="time-container days-container">
        <h2 class="timer-title shadow-text">{{ daysRemaining }}</h2>
        <h3 class="shadow-text blue-neon-text">Dias</h3>
      </div>
      <div class="time-container">
        <h2 class="timer-title shadow-text">{{ hoursRemaining }}</h2>
        <h3 class="shadow-text blue-neon-text">Horas</h3>
      </div>
      <div class="time-container">
        <h2 class="timer-title shadow-text">{{ minutesRemaining }}</h2>
        <h3 class="shadow-text blue-neon-text">Minutos</h3>
      </div>
      <div class="time-container">
        <h2 class="timer-title shadow-text">{{ secondsRemaining }}</h2>
        <h3 class="shadow-text blue-neon-text">Segundos</h3>
      </div>
    </div>
  </div>
</section>