<section class="timer-container">
  <h1 class="alternative-title" *ngIf="!showTimer() && !isPastEventDate() && !isInEventWeek()">Mais informações em
    breve!</h1>
  <h1 class="alternative-title" *ngIf="!showTimer() && isPastEventDate() && !isInEventWeek()">O evento já acabou!</h1>
  <h1 class="alternative-title" *ngIf="!showTimer() && !isPastEventDate() && isInEventWeek()">O evento já começou!</h1>
  <div *ngIf="showTimer()">
    <div>
      <h1 class="timer-h1 begins-in purple-neon-text">COMEÇA EM</h1>
    </div>
    <div class="timer">
      <div class="time-container">
        <h1 class="timer-h1 shadow-text">{{ daysRemaining }}</h1>
        <h2 class="shadow-text blue-neon-text">Dias</h2>
      </div>
      <div class="time-container">
        <h1 class="timer-h1 shadow-text">{{ hoursRemaining }}</h1>
        <h2 class="shadow-text blue-neon-text">Horas</h2>
      </div>
      <div class="time-container">
        <h1 class="timer-h1 shadow-text">{{ minutesRemaining }}</h1>
        <h2 class="shadow-text blue-neon-text">Minutos</h2>
      </div>
      <div class="time-container">
        <h1 class="timer-h1 shadow-text">{{ secondsRemaining }}</h1>
        <h2 class="shadow-text blue-neon-text">Segundos</h2>
      </div>
    </div>
  </div>
</section>