<section>
  <h2>Instruções para {{ eventName }}</h2>

  <div *ngIf="event === 0">
    <div>
      <span class="subtitle">
        Datas Importantes:
      </span>
      <ul>
        <li>
          Data de Início: 23/10/23
        </li>
        <li>
          Data de Término: 25/10/23 (23:59h)
        </li>
        <li>
          Anúncio dos Vencedores: 27/10/23
        </li>
      </ul>
    </div>

    <div>
      <span class="subtitle">
        Requisitos Técnicos:
      </span>
      <ul>
        <li>Você receberá um conjunto de dados para a realização das previsões.
        </li>
        <li>
          Utilize técnicas de aprendizado de máquina para criar um modelo de previsão de preços de imóveis.
        </li>
        <li>
          Submeta suas previsões para avaliação usando o <a href="https://colab.google/" target="_blank"
            rel="noopener noreferrer">Google Colab</a>.
        </li>
        <li>
          O uso de bibliotecas populares como TensorFlow, Scikit-Learn, PyTorch e outras é permitido.
        </li>
      </ul>
    </div>

    <div>
      <span class="subtitle">
        Como participar:
      </span>
      <ol>
        <li>
          Inscreva-se para a competição no Integra;
        </li>
        <li>
          Faça o download do conjunto de dados;
        </li>
        <li>
          Realize o tratamento e o pré-processamento dos dados;
        </li>
        <li>
          Desenvolva seu modelo de previsão de preços de imóveis no Google Colab;
        </li>
        <li>
          Submeta suas previsões antes da data de encerramento;
        </li>
        <li>
          Fique ligado para o anúncio dos vencedores!
        </li>
      </ol>
    </div>

    <div>
      <span class="subtitle">
        Avaliação:
      </span>
      As previsões serão avaliadas com base em métricas de desempenho específicas, como o erro médio absoluto (MAE), o
      erro médio quadrático (RMSE), e o coeficiente de determinação (R2).
      <p>
        Junte-se a nós neste desafio empolgante e coloque suas habilidades de Machine Learning à prova!
      </p>

    </div>

  </div>

</section>