<section>
  <h2>Instruções para as competições</h2>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item bg-dark text-light">
      <h2 class="accordion-header text-light">
        <button class="accordion-button bg-dark text-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Competição em IA
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapsed show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div>
            <span class="subtitle">
              Datas Importantes:
            </span>
            <ul>
              <li>
                Data de Início: 23/10/23
              </li>
              <li>
                Data de Término: 25/10/23 (23:59h)
              </li>
              <li>
                Anúncio dos Vencedores: 27/10/23
              </li>
            </ul>
          </div>
          <div>
            <span class="subtitle">
              Requisitos Técnicos:
            </span>
            <ul>
              <li>Você receberá um conjunto de dados para a realização das previsões.
              </li>
              <li>
                Utilize técnicas de aprendizado de máquina para criar um modelo de previsão de preços de imóveis.
              </li>
              <li>
                Submeta suas previsões para avaliação usando o <a href="https://colab.google/" target="_blank"
                  rel="noopener noreferrer">Google Colab</a>.
              </li>
              <li>
                O uso de bibliotecas populares como TensorFlow, Scikit-Learn, PyTorch e outras é permitido.
              </li>
            </ul>
          </div>

          <div>
            <span class="subtitle">
              Como participar:
            </span>
            <ol>
              <li>
                Inscreva-se para a competição no Integra;
              </li>
              <li>
                Faça o download do conjunto de dados;
              </li>
              <li>
                Realize o tratamento e o pré-processamento dos dados;
              </li>
              <li>
                Desenvolva seu modelo de previsão de preços de imóveis no Google Colab;
              </li>
              <li>
                Submeta suas previsões antes da data de encerramento;
              </li>
              <li>
                Fique ligado para o anúncio dos vencedores!
              </li>
            </ol>
          </div>

          <div>
            <span class="subtitle">
              Avaliação:
            </span>
            As previsões serão avaliadas com base em métricas de desempenho específicas, como o erro médio absoluto
            (MAE), o
            erro médio quadrático (RMSE), e o coeficiente de determinação (R2).
            <p>
              Junte-se a nós neste desafio empolgante e coloque suas habilidades de Machine Learning à prova!
            </p>

          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item bg-dark text-light">
      <h2 class="accordion-header">
        <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Hackathon Rerum
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            O objetivo do Hackathon é a identificação de talentos que sejam capazes, em curto espaço de tempo , de
            demonstrarem habilidade com linguagens de programação, capacidade de trabalho em equipe, liderança, controle
            emocional e principalmente de propor soluções tecnológicas e implementação de protótipos que comprovem a
            viabilidade das soluções propostas.
          </p>
          <p>
            Cada grupo, com máximo de três integrantes deve selecionar um dos projetos que serão propostos, a livre
            escolha,
            sendo que um mesmo tema pode ser executado por mais de um grupo.
          </p>
          <p>
            Os projetos poderão ser desenvolvidos em qualquer tecnologia, podendo também serem utilizadas ferramentas e
            códigos “open source” que estejam disponíveis na WEB.
          </p>
          <p>
            Os projetos serão qualificados numa escala de 1 a 10 e serão medidos de acordo com o potencial dos mesmos se
            tornarem soluções de fato que venham resolver os problemas propostos.
          </p>

          <div>
            <span class="subtitle">
              Datas Importantes:
            </span>
            <ul>
              <li>
                Data de Início: 24/10/23
              </li>
              <li>
                Data de Término: 26/10/23 (17:30h)
              </li>
              <li>
                Apresentação das soluções: 26/10/23 (das 18:00h às 19:00h no Auditório do DCC)
              </li>
              <li>
                Anúncio dos Vencedores: 27/10/23 (Encerramento - 19:00h)
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item bg-dark text-light">
      <h2 class="accordion-header">
        <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Hackathon 4Matt
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            Durante as 4 horas, as equipes vão aprender uma parte teórica e receberão um desafio. Elas podem começar a
            trabalhar na solução imediatamente. O trabalho continuará até sexta-feira de manhã, quando será agendada uma
            reunião online para apresentação. Após as apresentações, a equipe encarregada da avaliação conduzirá uma
            votação
            interna para eleger as equipes vencedoras.
          </p>
          <p>
            Para participar precisa se inscrever e participar da Palestra "Como Iniciar sua Carreira Internacional em
            uma das
            maiores plataformas SaaS do Mundo: ServiceNow" (Quinta 21h)
          </p>
          <p>
            A inscrição é individual. As equipes serão definidas pela 4Matt
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item bg-dark text-light">
      <h2 class="accordion-header">
        <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Maratona de Programação Júnior
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            Maratona de Programação nos moldes da Maratona de Programação da SBC, para alunos do primeiro e segundo
            período.
          </p>
          <ul>
            <li>Cada equipe é composta por até 3 alunos, que deve resolver os problemas propostos em um único
              computador.
            </li>
            <li>Um juiz online compila e testa o programa submetido pela equipe.</li>
            <li>Pelo menos um membro da equipe deve fazer o cadastro no site: <a
                href="https://www.beecrowd.com.br/judge/pt/login" target="_blank"
                rel="noopener noreferrer">Beecrowd</a>.</li>
            <li>O único meio de consulta permitido será via material impresso.
            </li>
            <li>Quando começa a maratona, cada equipe recebe a lista de problemas e cada problema tem uma cor associada.
            </li>
            <li>O funcionamento da equipe é decidido pela mesma (todos trabalhando juntos, cada um trabalhando em um
              problema, um digitando e outros implementando no papel). Mas apenas um computador pode ser usado!
            </li>
            <li>Quando a equipe resolver um problema, alguém da organização verifica se o problema foi aceito pelo juiz
              online e a equipe recebe um balão, da cor do problema resolvido.
            </li>
            <li>Vence quem conseguir o maior número de balões mais rápido!</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>